/* === Custom Cursor: Default === */
body {
  cursor:
    url("https://www.mysticmunson.design/s/planchette.svg") 1 1,
    auto;
}

/* === Custom Cursor: Pointer === */
a,
button,
[role="button"],
input[type="button"],
input[type="submit"] {
  cursor:
    url("https://www.mysticmunson.design/s/planchetteLink.svg") 1 1,
    pointer;
}

/* === Custom Cursor: Zoom-In === */
.zoom-in,
[data-action="zoom-in"],
.gallery-lightbox-control-next,
.gallery-lightbox-control-prev,
.gallery-item a,
.gallery-item button,
.gallery-masonry-item a,
.gallery-masonry-item button,
.gallery-grid-item a,
.gallery-grid-item button,
.gallery-strips-item a,
.gallery-strips-item button,
.gallery-masonry-image-wrapper,
[data-test="gallery-lightbox-trigger"],
.gallery-slideshow-image-wrapper,
.gallery-slideshow-item {
  cursor:
    url("https://www.mysticmunson.design/s/planchetteZoomin.svg") 1 1,
    zoom-in;
}

/* === Custom Cursor: Zoom-Out === */
.zoom-out,
[data-action="zoom-out"],
.gallery-lightbox-close-btn {
  cursor:
    url("https://www.mysticmunson.design/s/planchetteZoomout.svg") 1 1,
    zoom-out;
}
